body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: #121212;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.card {
    background: #303030;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.row {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #098D2D;
    color: white;
}

button.secondary {
    background: #eee;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.pokemon {
    background: #e9ecef;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.recommendations {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#team {
    display: grid;
    grid-template-columns:
        repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
}

.pokemon-card {
    background: white;
    color: black;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.pokemon-image img {
    width: 120px;
    height: 120px;
}

.pokemon-info h3 {
    margin: 10px 0 5px;
    text-transform: capitalize;
}

.pokemon-info p {
    margin: 4px 0;
}

.remove-button {
    margin-top: 12px;
    width: 100%;
}

.type-overview-card {
    background: white;
    color: black;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    box-shadow:
        0 2px 6px rgba(0,0,0,.1);
}

.recommended-card {
    cursor: pointer;
}

.recommended-card {

    position: relative;
}

.recommended-card:hover {

    transform:
        translateY(-4px);

    box-shadow:
        0 6px 16px
        rgba(
            0,
            0,
            0,
            0.2
        );
}

.click-hint {

    position: absolute;

    top: 8px;

    left: 50%;

    transform: translateX(-50%);

    padding: 4px 8px;

    border-radius: 4px;

    background: rgba(
        0,
        0,
        0,
        0.8
    );

    color: white;

    font-size: 0.75rem;

    white-space: nowrap;

    opacity: 0;

    visibility: hidden;

    transition:
        opacity 0.2s ease;

    pointer-events: none;
}

.recommended-card:hover .click-hint {

    opacity: 1;

    visibility: visible;
}